*{
    padding:0;
    margin:0;
}
body{
    background-color: black;
}
h1{
    color:#ffb400;
}
p, a{
 color: white;
}
a:hover{
    color:#ffb400;
}
.block {
    margin: 100px auto;
    padding: 100px;
}
#g, #d{
    display: inline-block;
}
/*content*/
.titre {
    font-size: 78px;
    margin: 0px 0px -135px 122px;

}
.orange1 {
    width: 530px;
    height: 720px;
    background-color:#ffb400;
    margin: 0px 0 -660px 655px;
}
.img1 {
    height: 590px;
    margin: 0 0 0 715px;
}
.orange2{
    width: 385px;
    height: 510px;
    margin: -445px 0 0 130px;
    background-color: #ffb400;
}
.img2 {
    height: 650px;
    margin: -440px 0 50px 190px;
}
.txt {
    font-size: 16px;
    letter-spacing: 1px;
    margin: -235px 0 25px 710px
}
.link{
    text-transform: uppercase;
    margin: 0 0 0 710px;
}
/*bottom white band*/
.bottom_white_band{
    width:100%;
    height: 70px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
}
footer{
    color: #ffffff;
    background-color: #333333;
    text-align: center;
    width: 100%;
    height: 260px;
    margin-top: -125px;
    padding-top: 50px;
}
.footer_link a{
    color: #baefec;
}
.footer_link a:hover{
    color: grey;
}
.footer_link a, .footer_link p{
    display: inline-block;
    margin-top: 50px;
}
